doctype html
html(lang="en")
    head
        title Custom Object Table
        link(rel="stylesheet" href="/css/styles.css")
    body
        h1 Custom Object Table
        <a href="updates"> Add to this table</a>
        <table>
            <tr>
                <td>Song name</td> <td>Artist</td> <td>Album</td>
            </tr>
            <tr>
                <td>aaaa</td> <td>bbbb</td> <td>ccc</td>
            </tr>
        </table>
