doctype html
html(lang="en")
    head
        title Custom Object Table
        link(rel="stylesheet" href="/css/styles.css")
    body
        h1 Custom Object Table
        <a href="update-cobj"> Add to this table</a>
        <table>
            <tr>
                <td>Song name</td> <td>Artist</td> <td>Album</td>
            </tr>
            each song in result
                <tr>
                    <td>#{song.properties.name}</td> <td>#{song.properties.artist}</td> <td>#{song.properties.album}</td>
                </tr>
        </table>
